.card
  .forum-content
    .left-area.list-column
      %ul.threads-top-bar
        %li.ml-2 Top Subjects
        - if user_signed_in?
          %li.ml-auto.admin-link
            = link_to "New subject", new_forum_subject_path
      - @forum_subjects.each do |subject|
        %ul.list-group.subject-list
          %li.list-group-item
            = link_to subject.subject_name, forum_subject_path(subject)
    .right-area.list-column
      %ul.threads-top-bar
        %li
          = link_to 'Newest Thread', "#"
        %li
          = link_to "Top Threads", "#"
      - @forum_threads.each do |thread|
        %ul.list-group.threads-list
          %li.list-group-item
            = link_to thread.subject, forum_thread_path(thread)
