= simple_form_for [@forum_subject, @forum_thread] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :subject, label: false, placeholder: 'Title'
    = f.fields_for :forum_posts do |p|
      = p.input :body, as: :text, placeholder: 'Post', label: false
  .form-actions
    = f.submit "Post New Thread", class: 'btn btn-success'
